.login-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 12px;
}
.vk-icon {
  width: 20px;
  height: 20px;
}
.inst-icon {
  width: 20px;
  height: 20px;
}
.fbook-icon {
  width: 15px;
  height: 20px;
}

.star-icon {
  width: 20px;
  height: 20px;
}

.wallet-icon {
  width: 20px;
  height: 20px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

.logo-icon {
  width: 271px;
  height: 60px;
}

.funnel-icon {
  width: 21px;
  height: 21px;
}
